[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-batteryoverlay2
Exec=harbour-batteryoverlay2
Name=Battery Overlay

[X-Sailjail]
OrganizationName=harbour.batteryoverlay
ApplicationName=overlay
Permissions=Sensors
ExecDBus=harbour-batteryoverlay2 -daemon
